<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Login</title>

    {{>header}}

  </head>

  <body>

    {{>navbar}}
       
    <div class="main_div">
      <div class="box">       

        <span>     
              <a href="/login">
                    <button class="btn"herf="">Login</button>   
              </a>
        </span>  
        <span> <pre>   </pre> </span>
         <span>     
            <a href="/register">
                  <button class="btn"herf="">Sign Up</button>   
            </a>
        </span> 

      </div>
    </div>
  </body>
</html>
