<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Login</title>

    {{>header}}
  </head>
  <body>
    {{>navbar}}
   <div>     
      
    </div>     
    <div class="main_div">
      <div class="box">
        <h1>Login</h1>
        <form action="">

           <div class="input-box">
            <label for="Email">Email</label>
            <input
              type="email"
              name="email"
              id="name"
              autocomplete="off"
              placeholder="john@example.com"
              required
            />
          </div>

          <div class="input-box">
            <label for="Password">Password</label>
            <input
              type="password"
              name="password"
              id="name"
              autocomplete="off"
              placeholder="Must be at least 6 characters"
              required
            />
          </div>
          <br>
          <input type="submit" value="Login" />
        </form>
      </div>
    </div>
  </body>
</html>
